*,
*::after,
*::before {
    box-sizing: border-box;
    cursor: default;
    text-align: center;
}

@font-face {
    font-family: Quicksand;
    src: url("./resources/Quicksand.ttf");
}

@font-face {
    font-family: Dosis;
    src: url("./resources/Dosis.ttf");
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

section {
    height: 100vh;
    display: flex;

    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;

    font-family: 'Quicksand', sans-serif;
}

button {
    position: relative;
    z-index: 100;
}

.logo {
    margin-bottom: 20px;
    z-index: 100;
    background-color: rgb(240, 240, 240);
}

#particles-js{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.welcome-page {
    background-color: rgb(240, 240, 240);
    margin: auto;
    font-size: 3vh;
}

.welcome-header {
    color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 8vh;
}

.welcome-btns > button {
    font-size: 3vh;
}

.about-page {
    background-color: rgb(27, 27, 27);
    color: rgb(241, 241, 241);
    text-align: center;

    font-size: 2.5vh;
}

.about-heading {
    font-family: 'Dosis', sans-serif;
    font-size: 8vh;

    margin-bottom: 5%;
}

.next-session-page {
    background-color: rgb(240, 240, 240);
    margin: auto;
    font-size: 2.5vh;
    text-align: center;
}

.p-padding {
    padding: 0 8vw;
}